.page-content {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.length-of-term {
    display: flex;
    padding: 2em;
    flex-direction: column;
    justify-content: center;
}

.length-of-term .clock-heading {
    margin: 0;
}

.clock-wrapper {
    display: flex;
    justify-content: center;
}

.clock-component {
    margin: 1em;
}

.random-image {
    width: 400px;
    margin: 1em auto;
}

.random-image .image {
    width: 100%;
}